<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">conduit</a>

    <!-- Navigation links -->
    <ul class="nav navbar-nav pull-xs-right">
      <!-- Home -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          Home
        </a>
      </li>
      
      <!-- Only show if user is authenticated -->
      <ng-container *ngIf="currentUser">
        <!-- New Article -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/editor" routerLinkActive="active">
            <i class="ion-compose"></i>&nbsp;New Article
          </a>
        </li>
        
        <!-- Settings -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/settings" routerLinkActive="active">
            <i class="ion-gear-a"></i>&nbsp;Settings
          </a>
        </li>
        
        <!-- User profile -->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/profile', currentUser.username]" routerLinkActive="active">
            <img [src]="currentUser.image" *ngIf="currentUser.image" class="user-pic" />
            {{ currentUser.username }}
          </a>
        </li>
      </ng-container>
      
      <!-- Only show if user is not authenticated -->
      <ng-container *ngIf="!currentUser">
        <!-- Sign in -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/login" routerLinkActive="active">
            Sign in
          </a>
        </li>
        
        <!-- Sign up -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/register" routerLinkActive="active">
            Sign up
          </a>
        </li>
      </ng-container>
    </ul>
  </div>
</nav>