<div class="article-page">

  <!-- Banner for article title, action buttons -->
  <div class="banner">
    <div class="container">

      <h1>{{ article.title }}</h1>

      <div class="article-meta">
        <!-- Show author info + favorite & follow buttons -->
        <app-article-actions [article]="article"></app-article-actions>
      </div>

    </div>
  </div>

  <!-- Main view. Contains article html and comments -->
  <div class="container page">

    <!-- Article's HTML & tags rendered here -->
    <div class="row article-content">
      <div class="col-xs-12">

        <div [innerHTML]="article.body"></div>

        <ul class="tag-list">
          <li class="tag-default tag-pill tag-outline"
            *ngFor="let tag of article.tagList">
            {{ tag }}
          </li>
        </ul>

      </div>
    </div>

    <hr />

    <div class="article-actions">
      <!-- Show author info + favorite & follow buttons -->
      <app-article-actions [article]="article"></app-article-actions>
    </div>

    <!-- Comments section -->
    <div class="row">
      <div class="col-xs-12 col-md-8 offset-md-2">

        <div *appShowAuthed="true">
          <app-list-errors [errors]="commentForm.errors"></app-list-errors>
          <form class="card comment-form" (ngSubmit)="addComment()">
            <fieldset [disabled]="commentForm.isSubmitting">
              <div class="card-block">
                <textarea class="form-control"
                  placeholder="Write a comment..."
                  rows="3"
                  [(ngModel)]="commentForm.body"
                  name="body"></textarea>
              </div>
              <div class="card-footer">
                <img [src]="currentUser.image" class="comment-author-img" alt="Author" />
                <button class="btn btn-sm btn-primary" type="submit">
                 Post Comment
                </button>
              </div>
            </fieldset>
          </form>
        </div>

        <div *appShowAuthed="false">
          <a [routerLink]="['/login']">Sign in</a> or <a [routerLink]="['/register']">sign up</a> to add comments on this article.
        </div>

        <app-comment *ngFor="let cmt of comments; let i = index"
          [comment]="cmt"
          (deleteComment)="deleteComment(cmt.id, i)">
        </app-comment>

      </div>
    </div>

  </div>

</div>