<div class="article-page">
  <div class="banner" *ngIf="article">
    <div class="container">
      <h1>{{ article.title }}</h1>

      <app-article-meta [article]="article">
        <span [hidden]="!canModify">
          <a class="btn btn-sm btn-outline-secondary"
             [routerLink]="['/editor', article.slug]">
            <i class="ion-edit"></i> Edit Article
          </a>

          <button class="btn btn-sm btn-outline-danger"
                  [ngClass]="{disabled: isDeleting}"
                  (click)="deleteArticle()">
            <i class="ion-trash-a"></i> Delete Article
          </button>
        </span>

        <span [hidden]="canModify">
          <app-follow-button
            [profile]="article.author"
            (toggle)="onToggleFollowing($event)">
          </app-follow-button>

          <app-favorite-button
            [article]="article"
            (toggle)="onToggleFavorite($event)">
            Favorite Article <span class="counter">({{ article.favoritesCount }})</span>
          </app-favorite-button>
        </span>
      </app-article-meta>
    </div>
  </div>

  <div class="container page">
    <div class="row article-content">
      <div class="col-md-12">
        <div *ngIf="article?.body" [innerHTML]="article.body | markdown"></div>

        <ul class="tag-list" *ngIf="article?.tagList">
          <li class="tag-default tag-pill tag-outline" *ngFor="let tag of article.tagList">
            {{ tag }}
          </li>
        </ul>
      </div>
    </div>

    <hr />

    <div class="article-actions" *ngIf="article">
      <app-article-meta [article]="article">
        <span [hidden]="!canModify">
          <a class="btn btn-sm btn-outline-secondary"
             [routerLink]="['/editor', article.slug]">
            <i class="ion-edit"></i> Edit Article
          </a>

          <button class="btn btn-sm btn-outline-danger"
                  [ngClass]="{disabled: isDeleting}"
                  (click)="deleteArticle()">
            <i class="ion-trash-a"></i> Delete Article
          </button>
        </span>

        <span [hidden]="canModify">
          <app-follow-button
            [profile]="article.author"
            (toggle)="onToggleFollowing($event)">
          </app-follow-button>

          <app-favorite-button
            [article]="article"
            (toggle)="onToggleFavorite($event)">
            Favorite Article <span class="counter">({{ article.favoritesCount }})</span>
          </app-favorite-button>
        </span>
      </app-article-meta>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-8 offset-md-2">
        <div *ngIf="!currentUser">
          <a [routerLink]="['/login']">Sign in</a> or
          <a [routerLink]="['/register']">sign up</a> to add comments on this article.
        </div>

        <form class="card comment-form" *ngIf="currentUser">
          <div class="card-block">
            <textarea class="form-control"
                      placeholder="Write a comment..."
                      rows="3"
                      [(ngModel)]="commentBody"
                      name="comment"
                      required></textarea>
          </div>
          <div class="card-footer">
            <img [src]="currentUser.image" class="comment-author-img" />
            <button class="btn btn-sm btn-primary" type="button"
                    (click)="addComment()"
                    [disabled]="!commentBody.trim()">
              Post Comment
            </button>
          </div>
        </form>

        <app-article-comment
          *ngFor="let comment of comments"
          [comment]="comment"
          (deleteComment)="deleteComment(comment)">
        </app-article-comment>
      </div>
    </div>
  </div>
</div>
