<nav class="navbar navbar-light">
  <div class="container">

    <!-- 
      Replaced ui-sref with routerLink
      Replaced ng-bind with interpolation and lowercase pipe
    -->
    <a class="navbar-brand"
      [routerLink]="['/']">
      {{ appName | lowercase }}
    </a>

    <!-- 
      Show this for logged out users 
      Replaced show-authed directive with *ngIf
      Replaced ui-sref with routerLink
      Replaced ui-sref-active with routerLinkActive
    -->
    <ul *ngIf="!isAuthenticated"
      class="nav navbar-nav pull-xs-right">

      <li class="nav-item">
        <a class="nav-link"
          routerLinkActive="active"
          [routerLink]="['/']">
          Home
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLinkActive="active"
          [routerLink]="['/login']">
          Sign in
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLinkActive="active"
          [routerLink]="['/register']">
          Sign up
        </a>
      </li>

    </ul>

    <!-- 
      Show this for logged in users 
      Replaced show-authed directive with *ngIf
      Replaced ui-sref with routerLink
      Replaced ui-sref-active with routerLinkActive
      Replaced $ctrl references with component properties
    -->
    <ul *ngIf="isAuthenticated"
      class="nav navbar-nav pull-xs-right">

      <li class="nav-item">
        <a class="nav-link"
          routerLinkActive="active"
          [routerLink]="['/']">
          Home
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLinkActive="active"
          [routerLink]="['/editor']">
          <i class="ion-compose"></i>&nbsp;New Article
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLinkActive="active"
          [routerLink]="['/settings']">
          <i class="ion-gear-a"></i>&nbsp;Settings
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLinkActive="active"
          [routerLink]="['/profile', currentUser.username]">
          <img [src]="currentUser.image" class="user-pic" />
          {{ currentUser.username }}
        </a>
      </li>

    </ul>

  </div>
</nav>