<div class="article-page">

  <!-- Banner for article title, action buttons -->
  <div class="banner">
    <div class="container">

      <!-- Replaced ng-bind with interpolation -->
      <h1>{{ article.title }}</h1>

      <div class="article-meta">
        <!-- Show author info + favorite & follow buttons -->
        <app-article-actions [article]="article"></app-article-actions>

      </div>

    </div>
  </div>



  <!-- Main view. Contains article html and comments -->
  <div class="container page">

    <!-- Article's HTML & tags rendered here -->
    <div class="row article-content">
      <div class="col-xs-12">

        <!-- Replaced ng-bind-html with [innerHTML] -->
        <div [innerHTML]="article.body"></div>

        <ul class="tag-list">
          <!-- Replaced ng-repeat with *ngFor -->
          <li class="tag-default tag-pill tag-outline"
            *ngFor="let tag of article.tagList">
            {{ tag }}
          </li>
        </ul>

      </div>
    </div>

    <hr />

    <div class="article-actions">

      <!-- Show author info + favorite & follow buttons -->
      <app-article-actions [article]="article"></app-article-actions>

    </div>

    <!-- Comments section -->
    <div class="row">
      <div class="col-xs-12 col-md-8 offset-md-2">

        <!-- Replaced show-authed directive with *ngIf and auth service -->
        <div *ngIf="isAuthenticated">
          <app-list-errors [errors]="commentForm.errors"></app-list-errors>
          <!-- Replaced ng-submit with (submit) event binding -->
          <form class="card comment-form" (submit)="addComment()">
            <!-- Replaced ng-disabled with [disabled] -->
            <fieldset [disabled]="commentForm.isSubmitting">
              <div class="card-block">
                <textarea class="form-control"
                  placeholder="Write a comment..."
                  rows="3"
                  [(ngModel)]="commentForm.body"
                  name="body"></textarea>
              </div>
              <div class="card-footer">
                <!-- Replaced ng-src with [src] -->
                <img [src]="currentUser.image" class="comment-author-img" />
                <button class="btn btn-sm btn-primary" type="submit">
                 Post Comment
                </button>
              </div>
            </fieldset>
          </form>
        </div>

        <!-- Replaced show-authed directive with *ngIf and auth service -->
        <div *ngIf="!isAuthenticated">
          <!-- Replaced ui-sref with routerLink -->
          <a [routerLink]="['/login']">Sign in</a> or <a [routerLink]="['/register']">sign up</a> to add comments on this article.
        </div>

        <!-- Replaced ng-repeat with *ngFor and updated component binding -->
        <app-comment *ngFor="let cmt of comments; let i = index"
          [comment]="cmt"
          (deleteComment)="deleteComment(cmt.id, i)">
        </app-comment>


      </div>
    </div>

  </div>



</div>