<!-- 
  Angular 12 template for article-actions component
  Changes made:
  - Replaced ng-show with *ngIf
  - Replaced ng-hide with *ngIf="!canModify"
  - Replaced ui-sref with [routerLink]
  - Replaced ng-class with [class.disabled]
  - Replaced ng-click with (click)
  - Changed $ctrl.article to article
  - Changed $ctrl.canModify to canModify
  - Changed $ctrl.isDeleting to isDeleting
  - Changed $ctrl.deleteArticle() to deleteArticle()
  - Updated binding syntax for interpolation
-->

<article-meta [article]="article">

  <span *ngIf="canModify">
    <a class="btn btn-sm btn-outline-secondary"
      [routerLink]="['/editor', article.slug]">
      <i class="ion-edit"></i> Edit Article
    </a>

    <button class="btn btn-sm btn-outline-danger"
      [class.disabled]="isDeleting"
      (click)="deleteArticle()">
      <i class="ion-trash-a"></i> Delete Article
    </button>
  </span>

  <span *ngIf="!canModify">
    <follow-btn [user]="article.author"></follow-btn>
    <favorite-btn [article]="article">
      {{ article.favorited ? 'Unfavorite' : 'Favorite' }} Article <span class="counter">({{article.favoritesCount}})</span>
    </favorite-btn>
  </span>

</article-meta>