<!-- 
  Angular 12 template for article-preview component
  Changes made:
  - Replaced ui-sref with routerLink
  - Replaced ng-bind with Angular interpolation syntax
  - Replaced ng-repeat with *ngFor
  - Removed $ctrl references in favor of direct property access
-->
<div class="article-preview">
  <article-meta [article]="article">
    <favorite-btn
      [article]="article"
      class="pull-xs-right">
      {{article.favoritesCount}}
    </favorite-btn>
  </article-meta>

  <a [routerLink]="['/article', article.slug]" class="preview-link">
    <h1>{{article.title}}</h1>
    <p>{{article.description}}</p>
    <span>Read more...</span>
    <ul class="tag-list">
      <li class="tag-default tag-pill tag-outline"
        *ngFor="let tag of article.tagList">
        {{tag}}
      </li>
    </ul>
  </a>
</div>