<!-- 
  Angular 12 Component Template
  Changes made:
  - Replaced ui-sref with routerLink
  - Replaced ng-src with [src]
  - Replaced ng-bind with interpolation syntax {{ }}
  - Removed $ctrl references (assuming properties are directly on component)
  - Replaced date filter with Angular DatePipe
-->

<div class="article-meta">
  <a [routerLink]="['/profile', article.author.username]">
    <img [src]="article.author.image" />
  </a>

  <div class="info">
    <a class="author"
      [routerLink]="['/profile', article.author.username]">
      {{ article.author.username }}
    </a>
    <span class="date">
      {{ article.createdAt | date: 'longDate' }}
    </span>
  </div>

  <ng-content></ng-content>
</div>