<!-- 
  Angular 12 template conversion:
  - Replaced ng-repeat with *ngFor
  - Replaced ng-hide with *ngIf
  - Replaced ng-show with *ngIf
  - Removed $ctrl references in favor of direct property binding
  - Converted binding syntax to Angular style
-->

<article-preview
  [article]="article"
  *ngFor="let article of list">
</article-preview>

<div class="article-preview"
  *ngIf="loading">
  Loading articles...
</div>

<div class="article-preview"
  *ngIf="!loading && !list.length">
  No articles are here... yet.
</div>

<list-pagination
 [totalPages]="listConfig.totalPages"
 [currentPage]="listConfig.currentPage"
 *ngIf="listConfig.totalPages > 1">
</list-pagination>