<div class="profile-page">

  <!-- User's basic info & action buttons -->
  <div class="user-info">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 offset-md-1">

          <img [src]="profile.image" class="user-img" alt="User profile image" />
          <h4>{{ profile.username }}</h4>
          <p>{{ profile.bio }}</p>

          <a [routerLink]="['/settings']"
            class="btn btn-sm btn-outline-secondary action-btn"
            *ngIf="isUser">
            <i class="ion-gear-a"></i> Edit Profile Settings
          </a>

          <app-follow-button [user]="profile" *ngIf="!isUser"></app-follow-button>

        </div>
      </div>
    </div>
  </div>

  <!-- Container where User's posts & favs are list w/ toggle tabs -->
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-md-10 offset-md-1">

        <!-- Tabs for switching between author articles & favorites -->
        <div class="articles-toggle">
          <ul class="nav nav-pills outline-active">

            <li class="nav-item">
              <a class="nav-link"
                [routerLink]="['/profile', profile.username]"
                [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact: true}">
                My Articles
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link"
                [routerLink]="['/profile', profile.username, 'favorites']"
                [routerLinkActive]="['active']">
                Favorited Articles
              </a>
            </li>

          </ul>
        </div>

        <!-- List of articles -->
        <router-outlet></router-outlet>

      </div>

    <!-- End row & container divs -->
    </div>
  </div>

</div>